@import url(https://fonts.googleapis.com/css?family=Lobster);

.courses {
    width: 40%;
    height: auto;
    border: 10px double dodgerblue;
    color: #FFFFFF;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Lobster';
    background: #333399;
    font-size: 2em;
    border-radius: 10px;
    margin-bottom: 5px;
}

.courses li {
    list-style: none;

}

body {
    background:silver;
}
